@include fontface(TTCommons, TTCommons-Regular, 400, normal);
@include fontface(Cormorant Garamond, CormorantGaramond-Regular, 400, normal);

html {
    font-family: $TTCommons;
    font-size: 10px;
    line-height: (20 / 16); // 1.25
    color: $colorBlack;
    background: #fff;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;

    @include mq(1600, 9999) {
        font-size: calc(10px + 1.2 * (100vw - 1600px) / 244);
    }

    @include mq(1440, 1599) {
        font-size: 10px;
    }

    @include mq(1024, 1439) {
        font-size: calc(8px + 2 * (100vw - 1024px) / (1440 - 1024));
    }

    @include mq(768, 1023) {
        font-size: calc(10px + 4 * (100vw - 768px) / (1024 - 768));
    }

    @include mq(375, 767) {
        font-size: calc(10px + 8 * (100vw - 375px) / (768 - 375));
    }

    @include mq(374) {
        font-size: 10px;
    }
}
html {
  &.is-mobile-overflow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    -webkit-overflow-scrolling: auto;
  }
}

body {
    position: relative;
    font-size: 1.6rem;
    overflow-x: hidden;

    @include mq(767) {
        font-size: 1.4rem;
    }

    &.is-mobile-overflow {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      -webkit-overflow-scrolling: auto;
  }
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.5s $easeInOutCirc, border 0.5s $easeInOutCirc, background 0.5s $easeInOutCirc, opacity 0.5s $easeInOutCirc;
}
